/* NavBar */
.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    z-index: 1000;
    position: fixed;
    width: calc(100% - 40px); /* Ajuste a largura para não ultrapassar a margem */
}

.navbar-brand {
    font-weight: 500;
    color: #dcbd75;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #dcbd75;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #e9c168;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #dcbd75;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover:before,
    .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }
}

body {
    margin: 0; /* Adiciona um padding-top para que o conteúdo não fique escondido atrás da navbar */
    background-color: #dcbd75;
}

html, body {
    height: 100%; /* Garante que a altura mínima seja suficiente para a rolagem */
}

.hero-section {
    background: url(/static/imagens/fundo3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 80vh; /* Ajuste para garantir que o conteúdo seja rolável */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden; 
    padding-top: 80px; 
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; 
}

.hero-section .container {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 4rem; 
    margin: 0;
}

.hero-section h2 {
    font-size: 2rem; 
    margin: 0;
}

.hero-section p {
    margin-bottom: 20px; /* Espaçamento entre parágrafos */
    line-height: 1.5;
    max-width: 800px; /* Limita a largura do texto para melhor legibilidade */
    font-size: 0.875rem; /* Fonte menor */
    text-align: justify; /* Justifica o texto */
}

.btn-gateway{
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #dcbd75;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn-gateway::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dcbd75;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn-gateway:hover::before {
    transform: translateX(0);
}

.additional-content {
    padding: 2rem;
    background-color: #f8f9fa;
    text-align: justify;
    text-justify: inter-word;
}

.additional-content p:last-child {
    text-align: left; /* Garante que o último parágrafo não fique com espaçamento irregular */
}

/* Custom CSS for Plans section */
.plans-section {
    background-color: #dcbd75; /* Ajusta a cor de fundo dessa seção também */
    padding: 3rem 0;
    text-align: center;
}


.plans-section h2 {
    color: white;
    margin-bottom: 2rem;
}

.plan {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.plan-price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #dcbd75;
}

.plan-monthly {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.plan-button {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: #dcbd75; /* Inicialmente, a cor do texto é #dcbd75 */
    border: 3px solid #dcbd75;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.plan-button:hover {
    background-color: #dcbd75;
    color: white;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #000;
}

main{
    background-color: #dcbd75;
}

.title-box {
    background-color: white; /* Cor de fundo da caixa */
    padding: 1rem 2rem; /* Espaçamento interno para afastar o texto das bordas */
    border-radius: 12px; /* Define as bordas arredondadas */
    display: inline-block; /* Garante que a caixa fique ajustada ao conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para dar um efeito de destaque */
}

.title-box h2 {
    margin: 0; /* Remove o espaçamento adicional ao redor do texto */
    color: #333; /* Cor do texto */
    font-size: 2rem; /* Tamanho do texto */
}
